
<div >
<header style="height:15%">
  <div class="header_color" style="height: 100%; background-color: #ef7f73; color: #fff; display: flex; align-items: center;" >
    <div class="container-fluid">
      <div class="row">
      	<div  class="col-3 col-md-2">
	        <a href="#">
				    <img src="assets/img/inicio.png" alt="Menu" style="width:25px;">
				  </a>
		    </div>
		    <div  class="col-5 col-md-8 text-center">
	        <h4>Home</h4>
		    </div>
		    <div  class="col-4 col-md-2 text-right">
	        <a href="#" style="margin-right: 0.5rem;" >
				    <img src="assets/img/buscar.png" alt="Buscar" style="width:25px;">
				  </a>
				  <a href="#" style="margin-right: 0rem;" >
				    <img src="assets/img/salir.png" alt="Cerrar" style="width:25px;">
				  </a>
		    </div>
      </div>
	  </div>
  </div>
</header>

<div class="container text-center" style="color: #ffffff;">

  <div class="row">

    <div class="col-12 nopad">

      <div style="text-align:center">

          <img src="assets/img/fresas.jpg" alt="" style="width:100%;height:auto;text-align:center">

      </div>

    </div>
 

    <div class="col-12 text-center nopad" style="margin-top:30px">
      
 


          <div class=" nopad box box-caja"  style="margin-top: 10px;margin-bottom:0px">

            <a [routerLink]="['/perfil']" >

                <div class="cuenta-elegida" style="padding: 15px; margin-bottom: 0px">

                    <img style="max-height:20px;display:inline-block;position:absolute;left:20px;top:20px" src="assets/img/perfil.png" alt="">
                    <span style="color:white;font-size:20px"> Perfil </span>
                    <img style="max-height:20px;display:inline-block;position:absolute;right:20px;top:20px" src="assets/img/right.png" alt="">

                </div>

            </a>

          </div>

          <div class="nopad box2 box-caja" style="margin-bottom:0px">

            <a  [routerLink]="['/pedido']" >

                <div class="cuenta-elegida" style="padding: 15px; margin-bottom: 0px">

                    <img style="max-height:20px;display:inline-block;position:absolute;left:20px;top:20px" src="assets/img/pedido.png" alt="">
                    <span style="color:white;font-size:20px"> Pedido </span>
                    <img style="max-height:20px;display:inline-block;position:absolute;right:20px;top:20px" src="assets/img/right.png" alt="">

                </div>

            </a>  
      
          </div>

          <div class="nopad box box-caja"  style="margin-bottom:0px">

            <a  [routerLink]="['/recoger']" >

                <div class="cuenta-elegida" style="padding: 15px; margin-bottom: 0px">

                    <img style="max-height:20px;display:inline-block;position:absolute;left:20px;top:20px" src="assets/img/recoger.png" alt="">
                    <span style="color:white;font-size:20px"> Recoger </span>
                    <img style="max-height:20px;display:inline-block;position:absolute;right:20px;top:20px" src="assets/img/right.png" alt="">

                </div>

            </a>

          </div>

          <div class="nopad box2 box-caja" style="margin-bottom:0px">

            <a [routerLink]="['/contactanos']"  >

                <div class="cuenta-elegida" style="padding: 15px; margin-bottom: 0px">

                    <img style="max-height:20px;display:inline-block;position:absolute;left:20px;top:20px" src="assets/img/contactanos.png" alt="">
                    <span style="color:white;font-size:20px"> Contáctanos </span>
                    <img style="max-height:20px;display:inline-block;position:absolute;right:20px;top:20px" src="assets/img/right.png" alt="">

                </div>

            </a>  
      
          </div>

          <div class="nopad box box-caja" style="margin-bottom:0px">

              <a [routerLink]="['/pagar']" >
  
                  <div class="cuenta-elegida" style="padding: 15px; margin-bottom: 0px">
  
                      <img style="max-height:20px;display:inline-block;position:absolute;left:20px;top:20px" src="assets/img/pagar.png" alt="">
                      <span style="color:white;font-size:20px"> Pagar </span>
                      <img style="max-height:20px;display:inline-block;position:absolute;right:20px;top:20px" src="assets/img/right.png" alt="">
  
                  </div>
  
              </a>  
        
            </div>
          


      

    </div>

  
  </div>

  </div>
</div>