.box{
    position: relative;
    border-radius: 0px;
    background: #f8baa3;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  }

  .box2{
    position: relative;
    border-radius: 0px;
    background: #f07a76;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  }

  .nopad{
    padding:0px;
  }

  html {
      height: 100%;
      }
 

  .header_color{
    background: rgba(174,45,101,1);
    background: -moz-linear-gradient(top, rgba(174,45,101,1) 0%, rgba(105,31,94,1) 36%, rgba(105,31,94,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(174,45,101,1)), color-stop(36%, rgba(105,31,94,1)), color-stop(100%, rgba(105,31,94,1)));
    background: -webkit-linear-gradient(top, rgba(174,45,101,1) 0%, rgba(105,31,94,1) 36%, rgba(105,31,94,1) 100%);
    background: -o-linear-gradient(top, rgba(174,45,101,1) 0%, rgba(105,31,94,1) 36%, rgba(105,31,94,1) 100%);
    background: -ms-linear-gradient(top, rgba(174,45,101,1) 0%, rgba(105,31,94,1) 36%, rgba(105,31,94,1) 100%);
    background: linear-gradient(to bottom, rgba(174,45,101,1) 0%, rgba(105,31,94,1) 36%, rgba(105,31,94,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae2d65', endColorstr='#691f5e', GradientType=0 );
  }