.box{
    position: relative;
    border-radius: 20px;
    background: #9cb851;
    margin-bottom: 20px;

    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  }

  .nopad{
    padding:0px;
  }

  html {
      height: 100%;
      }

  .saturate { filter: saturate(3); }
  .grayscale { filter: grayscale(100%); }
  .contrast { filter: contrast(160%); }
  .brightness { filter: brightness(0.25); }
  .blur { filter: blur(3px); }
  .invert { filter: invert(100%); }
  .sepia { filter: sepia(100%); }
  .huerotate { filter: hue-rotate(180deg); }
  .rss.opacity { filter: opacity(50%); }
